#URL mapping for REST API Demo
#Note: "NC" means case insensitive
RewriteEngine on

RewriteRule ^teamService/teams$ api/teamService.php [NC]
RewriteRule ^teamService/teams/([0-9][0-9]|[0-9])$ api/teamService.php?teamID=$1 [NC]
RewriteRule ^gameService/games$ api/gameService.php [NC]
RewriteRule ^gameService/games/(\d*)$ api/gameService.php?gameID=$1 [NC]
RewriteRule ^gameService/games/(Cplt)$ api/gameService.php?Cplt=$1 [NC]
RewriteRule ^gameService/games/(AvailInPrg)$ api/gameService.php?Avail=$1 [NC]
RewriteRule ^matchupService/matchup$ api/matchupService.php [NC]
RewriteRule ^matchupService/matchup/([0-5][0-9]|[0-9])$ api/matchupService.php?matchID=$1 [NC]
RewriteRule ^matchupService/matchup/ScoreMatch/([0-5][0-9]|[0-9])$ api/matchupService.php?ScoreMatchID=$1 [NC]
RewriteRule ^matchupService/matchup/(\S+)/(\S+)$ api/matchupService.php?roundID=$1&matchGroup=$2 [NC]
RewriteRule ^matchupService/matchup/(\S+)$ api/matchupService.php?roundID=$1 [NC]

RewriteRule ^playerService/players$ api/playerService.php [NC]
RewriteRule ^playerService/players/([0-2][0-9][0-9]|[0-9][0-9]|[0-9])$ api/playerService.php?playerID=$1 [NC]
RewriteRule ^playerService/players/playersByTeamID/([0-9][0-9]|[0-9])$ api/playerService.php?playersByTeamID=$1 [NC]
RewriteRule ^playerService/players/teamID/([0-9][0-9]|[0-9])$ api/playerService.php?teamID=$1 [NC]
RewriteRule ^statsService/stats/(all)$ api/statsService.php?all=$1 [NC]
RewriteRule ^statsService/stats/([0-9][0-9]|[0-9])$ api/statsService.php?teamID=$1 [NC]
RewriteRule ^statsService/stats/(ranks)$ api/statsService.php?ranks=$1 [NC]