#URL mapping for REST API Demo
#Note: "NC" means case insensitive
RewriteEngine on

RewriteRule ^teamService/teams$ api/teamService.php [NC]
RewriteRule ^teamService/teams/([0-9][0-9]|[0-9])$ api/teamService.php?teamID=$1 [NC]
RewriteRule ^gameService/games$ api/gameService.php [NC]
RewriteRule ^gameService/games/([0-5][8][0-6]|[0-5][0-7][0-9]|[0-4][0-9][0-9]|[0-9][0-9]|[0-9]\x0)$ api/gameService.php?gameID=$1 [NC]
RewriteRule ^matchupService/matchup$ api/matchupService.php [NC]
RewriteRule ^matchupService/matchup/([0-5][0-9]|[0-9])$ api/matchupService.php?matchID=$1 [NC]
RewriteRule ^playerService/players$ api/playerService.php [NC]
RewriteRule ^playerService/players/([0-2][0-9][0-9]|[0-9][0-9]|[0-9])$ api/playerService.php?playerID=$1 [NC]