.menuIcon {
    display: inline-block;
    width: 25px;
    height: auto;
    margin-right: 10px;
    margin-bottom: -10px;
}
.menuForm {
    vertical-align: middle;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#notice {
    font-style: italic;
    margin-top: 0px;
}

table, td, th {
    border: solid thin gray;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

th {
    background-color: midnightblue;
    color: white;
    font-weight: bold;
}

.btnMenuTop {
    margin-top: 10px;
}

.btnMenu {
    width: 175px;
    margin-bottom: 10px;
}

#AddUpdatePanel {
    background-color: antiquewhite;
    padding: 20px;
}

.hidden {
    display: none;
}

.formLabel {
    width: 100px;
    float: left;
}

tr:hover {
    background-color: chartreuse;
}

.nonHover {
    background-color: transparent !important;
}

.highlighted {
    background-color: yellow;
}

.highlightedBtn td:not(:last-child) {
    background-color: yellow;
}

button {
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
}
.btnCell {
    background-color: white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.btnCell:hover {
    background-color: white;
}
.cellBtn {
    margin: 0px;
}
.btnGames{
    margin: 0px;
}
.hidden {
    visibility: hidden;
}